<ng-template #loading>
  <div>
    <p class="text-center text-lg text-black">Espere...</p>
  </div>
</ng-template>

<!-- <countries-country-table [countries]="country" *ngIf="country.length > 0; else loading"></countries-country-table> -->

<div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow mt-8 mx-auto md:mx-0">
  <div class="p-5" *ngIf="country.length > 0; else loading">
      <p class="mb-3 font-normal text-black">Nombre oficial: {{ country[0].name.official }}</p>
      <p class="mb-3 font-normal text-black">Nombre: {{ country[0].name.common }}</p>
      <p class="mb-3 font-normal text-black">Capital: {{ country[0].capital }}</p>
      <p class="mb-3 font-normal text-black">Idioma: {{ country[0].languages.spa }}</p>
      <p class="mb-3 font-normal text-black">Población: {{ country[0].population | number }}</p>
      <p class="mb-3 font-normal text-black">Continente: {{ country[0].continents }}</p>
  </div>
</div>

