<nav class="bg-zinc-700">
  <div class="flex items-center justify-between mx-auto p-4">
    <div class="items-center justify-between w-full">
      <ul class="flex flex-col justify-center items-center text-white uppercase md:flex-row md:space-x-7">
        <!--
          <li routerLink=""
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            class="list-group-item">
            Home Page
          </li>

          <li routerLink="about"
            routerLinkActive="active"
            class="list-group-item">
            About Page
          </li>

          <li routerLink="contact"
            routerLinkActive="active"
            class="list-group-item">
            Contact Page
          </li> -->

          <li
            class="w-40 bg-slate-800 text-center py-2 rounded-md my-1"
            routerLinkActive="active"
          >
            <a [routerLink]="['/countries/byCapital']" href="" routerLinkActive="router-link-active" >Por capital</a>
          </li>

          <li
            class="w-40 bg-slate-800 text-center py-2 rounded-md my-1"
            routerLinkActive="active"
          >
            <a [routerLink]="['/countries/byCountry']" href="" routerLinkActive="router-link-active" >Por país</a>
          </li>

          <li
            class="w-40 bg-slate-800 text-center py-2 rounded-md my-1"
            routerLinkActive="active"
          >
            <a [routerLink]="['/countries/byRegion']" href="" routerLinkActive="router-link-active" >Por región</a>
          </li>

        </ul>
    </div>
  </div>
</nav>
