<div class="w-full flex flex-col space-y-3 items-center justify-center mb-4">
  <h3 class="text-xl uppercase font-semibold">Buscar por capital</h3>
  <shared-search-input (onDebouncer)="searchByCapital( $event )" class="w-11/12 md:w-1/4" (onValue)="searchByCapital( $event )" [placeholder]="placeholder"></shared-search-input>
  <shared-loading-spinner *ngIf="showLoader"></shared-loading-spinner>
</div>

<countries-country-table *ngIf="countries.length > 0" [countries]="countries"></countries-country-table>

<!-- el onDebouncer es para buscar cuando se deja de presionar alguna tecla despues de cierto tiempo -->
<!-- Revisar archivo search-input.ts para ver lo que sucede en el onInit y como se crea el debouncer para hacer observable lo que sucede en el componente -->
